<!DOCTYPE html>
<html
  class="no-js"
  lang="">
  <head>
    {% include "metadata.html" %}
  </head>

  <body class="{{ webpage }}">
    <div class="site">
      <div class="page">
        <div class="information">{{ content | safe }}</div>

        <div class="interweb">
          <h4>Across the Internet</h4>
          <p>
            <a href="https://www.instagram.com/thisisroger">Instagram</a>, <a href="https://github.com/thisisrogerflanagan">Github</a>, <a href="https://letterboxd.com/thisisroger">Letterboxd</a>,
            <a href="/">Gumroad</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
